<div class="row" *ngIf="Group_collection.length > 0">
    <div class="col-md-12">
        <div class="match-page-header">
            <p>Season {{season}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="Group_collection.length > 0;else nogroup">
            <div class="groupp-list-navbar with-nav-tabs panel-default">
                <!-- tabs menu  -->

                <ul class="nav nav-tabs groups_list">
                    <li *ngFor="let item of Group_collection;let i=index" [ngClass]="{'active':i == 0}">
                        <a href="#tab{{i}}default" data-toggle="tab">{{item.type}}</a>
                    </li>
                </ul>

                <div class="row">
                    <!-- group tab -->
                    <div class="col-sm-12 col-md-12 col-lg-12 remove_right_padding">

                        <div class="tab-content remove_right_padding">
                            <!--******** DETAILS ************-->
                            <div *ngFor="let item of Group_collection;let i=index" [ngClass]="{'active':i == 0}" class="tab-pane fade in active" id="tab{{i}}default">
                                <div id="group1">
                                    <div class="groupp-list-navbar">
                                        <h4 *ngIf="item.type!=='Group'" class="col-sm-12 teamgroupname">{{item.type}}</h4>
                                        <table class=" table grouptable">
                                            <thead>

                                                <tr>
                                                    <td class="first">Pos</td>
                                                    <td> Team </td>
                                                    <td> P </td>
                                                    <td> W </td>
                                                    <td> D </td>
                                                    <td> L </td>
                                                    <td> +/- </td>
                                                    <td class="last">PTS</td>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let item_details of item.group|orderBy:'position'">
                                                <tr (click)="teamdetails(item_details.team_id,item_details.team_name)">
                                                    <td>{{item_details.position}}</td>
                                                    <td>{{item_details.team_name}}</td>
                                                    <td>{{item_details.overall_gp}}</td>
                                                    <td>{{item_details.overall_w}}</td>
                                                    <td>{{item_details.overall_d}}</td>
                                                    <td>{{item_details.overall_l}}</td>
                                                    <td>{{item_details.gd}}</td>
                                                    <td>{{item_details.points}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end group tab -->
                </div>
            </div>
        </div>

        <ng-template #nogroup>
            <div class="card">
                <div class="list-line row match-list">
                    <p class="col-md-12 text-left">Not Group Found</p>
                </div>
            </div>
        </ng-template>



    </div>
</div>