.overflow_child-select {
    margin-bottom: 55px;
}

.select_child {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    height: 40px;
    background: #223052;
    color: #fff;
    max-height: 200px;
    height: auto;
    /* overflow: auto; */
    z-index: 999999;
    top: 0px;
    float: left;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

#style_child::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #00d15f;
}

#style_child::-webkit-scrollbar {
    width: 10px;
    background-color: #00d15f;
}

#style_child::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #223052;
}

.option_child {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #00d15f;
    border-top: #223052 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
}

.option_child:hover {
    background: #223052!important;
}

.select_child:focus .option_child {
    position: relative;
    pointer-events: all;
}

.selectopt_child {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.selectopt_child:checked+.option_child {
    order: 1;
    z-index: 2;
    background: #223052;
    border-top: none;
    position: relative;
    color: #fff;
}

.selectopt_child:checked+.option_child:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.selectopt_child:checked+.option_child:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: #223052;
}

@media (max-width: 992px) {
    .select_child {
        top: -55px;
    }
}