.card {
    margin-bottom: 0px!important;
}

.groupBy-date-title {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0px 10px;
}

.match-page-header {
    padding: 5px 0px 5px 15px;
}

.not_avilable_content {
    font-size: 16px;
}