.visited-team-flag img {
    width: 45px;
}

.visited-team h3 {
    margin-top: 5px;
}

.team_title {
    font-size: 20px;
    margin-top: 0px;
}


/********************************************************************/


/*** Tabs DEFAULT ***/

.panel-default {
    border: none;
    box-shadow: none;
    background: transparent;
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 0 0;
    margin-bottom: 10px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
    background: #223052;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel.with-nav-tabs.panel-default {
    border-radius: 0;
}


/*** PANEL DEFAULT ***/

.with-nav-tabs.panel-default .nav-tabs>li>a,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #ffffff;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a,
.with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    background: #223052 !important;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    background: #223052 !important;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #555;
}

.nav-tabs {
    border-radius: 0;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
}

ul.nav.nav-tabs {
    padding-left: 15px;
}