.visited-team-flag img {
    width: 45px;
}

.visited-team h3 {
    margin-top: 5px;
}

.team_title {
    font-size: 20px;
    margin-top: 0px;
}

@media (max-width: 450px) {
    .with-nav-tabs.panel-default .nav-tabs>.open>a,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
    .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
        color: #223052 !important;
        padding-left: 15px;
        border-bottom: 0px solid #ffffff !important;
        background: #bac1d2 !important;
    }
    .with-nav-tabs.panel-default .nav-tabs>li.active>a,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
        color: #223052 !important;
        padding-left: 15px;
        border-bottom: 0px solid #ffffff !important;
        background: #bac1d2 !important;
    }
    .nav-tabs li {
        float: none;
    }
    .nav>li>a {
        padding-left: 15px;
        border-radius: 0px !important;
        margin-right: 0px !important;
    }
    ul.nav.nav-tabs {
        padding-left: 0px !important;
    }
    .nav-tabs>li>a {
        padding-left: 15px !important;
        border-radius: 0px !important;
    }
}

@media (max-width: 400px) {
    .nav-tabs>li>a {
        padding: 10px 10px
    }
}


/********************************************************************/


/** Tabs DEFAULT **/

.panel.with-nav-tabs .panel-heading {
    padding: 0px 0 0;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
    background: #223052;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel.with-nav-tabs.panel-default {
    border-radius: 0;
    background: #eeeeee;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}


/** PANEL DEFAULT **/

.with-nav-tabs.panel-default .nav-tabs>li>a,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #a8a8a8;
    font-size: 16px;
}

.with-nav-tabs.panel-default .nav-tabs>.open>a,
.with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #ffffff;
    background: #223052;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
    color: #ffffff;
    background: #223052;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
    background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #555;
}

.nav-tabs {
    border-radius: 0;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
}

ul.nav.nav-tabs {
    padding-left: 15px;
}


/********************************************************************/

.panel-default>.panel-heading {
    margin-bottom: 15px;
}

.nav-tabs>li {
    margin-bottom: 0px;
}