@media (max-width: 580px) {
    ul.nav.nav-tabs.col-md-9.col-sm-9.col-xs-9,
    .col-md-3.col-sm-3.col-xs-3.dropselct-auto-bg {
        width: 100%;
    }
    .with-nav-tabs.panel-default .nav-tabs>.open>a,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
    .with-nav-tabs.panel-default .nav-tabs>li>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li>a:focus {
        color: #223052 !important;
        padding-left: 15px;
        border-bottom: 0px solid #ffffff !important;
        background: #bac1d2 !important;
    }
    .with-nav-tabs.panel-default .nav-tabs>li.active>a,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
    .with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
        color: #223052 !important;
        padding-left: 15px;
        border-bottom: 0px solid #ffffff !important;
        background: #bac1d2 !important;
    }
    .nav-tabs li {
        float: none;
    }
    .nav>li>a {
        padding-left: 15px;
        border-radius: 0px !important;
        margin-right: 0px !important;
    }
    ul.nav.nav-tabs {
        padding-left: 0px !important;
    }
    .nav-tabs>li>a {
        padding-left: 15px !important;
        border-radius: 0px !important;
    }
    .select_perant {
        position: relative!important;
        left: -10px;
    }
}

@media (max-width: 400px) {
    .nav-tabs>li>a {
        padding: 10px 10px
    }
}

.overflow-select_perant {
    /* margin-bottom: 55px; */
    float: right;
}

.select_perant {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    height: 40px;
    background: #00d15f;
    color: #fff;
    max-height: 200px;
    height: auto;
    /* overflow: auto; */
    z-index: 9999999999;
    top: 0px;
    right: 0px;
    float: left;
    background: #F5F5F5;
    overflow-y: auto;
    margin-bottom: 0px;
}

#style_perant::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #00d15f;
}

#style_perant::-webkit-scrollbar {
    width: 10px;
    background-color: #00d15f;
}

#style_perant::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00d15f;
}

.option_perant {
    padding: 0px 40px 0px 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #00d15f;
    border-top: #00d15f solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
    font-size: 16px;
}

.select_perant:hover {
    background: #c7c7c7!important;
}


/* .option_perant:hover {
    background: #c7c7c7!important;
} */

.select_perant:focus .option_perant {
    position: relative;
    pointer-events: all;
}

.selectopt_perant {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.selectopt_perant:checked+.option_perant {
    order: 1;
    z-index: 2;
    background: #00d15f;
    border-top: none;
    position: relative;
    color: #fff;
}

.selectopt_perant:checked+.option_perant:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.selectopt_perant:checked+.option_perant:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: #00d15f;
}


/* 
.selectopt_perant:checked+.option_perant:hover {
    background: #c7c7c7 !important;
} */


/* 
#style_perant:hover .selectopt_perant:checked+.option_perant:before {
    background: #c7c7c7 !important;
} */

.no-margin {
    margin: 0px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #00d15f;
    border-color: #ddd;
}

.dropselct-auto-bg {
    height: 40px;
}

@media (max-width: 600px) {
    .nav>li>a {
        padding: 10px 11px;
    }
}

.panel.with-nav-tabs .nav-tabs {
    background: #00d15f !important;
}


/* .with-nav-tabs.panel-default .nav-tabs>li>a,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
    color: #119a4f !important;
} */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0px!important;
}